body {
  background: #B993D6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8CA6DB, #B993D6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  align-items: center;
  align-content: center;
  margin: auto;
  text-align: center;
}

#linesIn {
  display: inline-block;
}

h3 {
  font-size: 22px;
  padding-left: : 10%;
  padding-top: : 10%;
  padding-right: : 10%;
  padding-bottom: : 2%;
  align-self: center;
  display: inline-block;
}

#song {
  background-color: #f5f5f5;
  width: 70%;
  margin: auto;
  display: inline-block;
  padding: 0;
  border-radius: 20px;
  font-family: courier, monospace;
  border-style: outset;
  border-width: 2px;
  border-color: black;
  -webkit-box-shadow: -8px 9px 22px -2px rgba(43, 43, 43, 0.92);
  -moz-box-shadow: -8px 9px 22px -2px rgba(43, 43, 43, 0.92);
  box-shadow: -8px 9px 22px -2px rgba(43, 43, 43, 0.92);
}

#list {
  color: #555;
  font-size: 18px;
  padding: 0 !important;
  width: 100%;
}

#list li {
  list-style: none;
  border-bottom: 2px solid #00B2EE;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}

#list li:hover {
  background-color: #e0e0e0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

#lineHeader {
  font-size: 20px;
  font-weight: bold;
}